#logo-div {
    height: 10vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo {
    font-size: 3rem;
    color: bisque;
}

.logo > span {
    color: cornflowerblue;
}

