* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #540354;
    font-size: 2rem;
}

#app-bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

